*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.kotlin

# Room schema exports
/app/schemas/

# Firebase
google-services.json

# Keystore
*.jks
*.keystore
keystore.properties

# Android App Bundles
*.aab